/*
Modern CSS Reset 
https://piccalil.li/blog/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove link styling */
a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: ;
  font-family: 'Roboto', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global */

:root {
  --accent-color: #10b981;
  --light-color: #ffffff;
  --med-light: #d5d4d8;
  --med-dark: #273549;
  --dark-color: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main container */
.main-container {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.main-heading {
  color: var(--accent-color);
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  width: 354px;
  height: 80px;
  left: 52px;
  top: 115px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.main-heading > span {
  color: var(--light-color);
}

.sub-heading {
  color: var(--med-light);
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 372px;
  height: 28px;
}

.generate-pw-btn,
.change-pw-length {
  /* Auto layout */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* padding: 9px 17px 9px 15px; */
  /* gap: 12px; */
  width: 191px;
  height: 42px;
  background-color: var(--accent-color);
  color: var(--light-color);
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  /* border */
  border: none;
  border-radius: 6px;
  /* text */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.generate-pw-btn:hover {
  cursor: pointer;
}

.generate-pw-btn:active {
  background-color: darkgreen;
}

hr {
  width: 446px;
  height: 1px;
  margin-top: 35px;
  border: 1px solid #2f3e53;
}

.display-pw-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  margin: 4em auto;
  padding: 1.5em;
}

.pw-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 10em;
  background: var(--med-dark);
  border-radius: 6px;
  margin: 0.5em;
  padding: 0.4em 0.8em;
  color: var(--accent-color);
}
